<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2f00c46609.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Todos</h1>
    <ul class="todos-container">
    <% todos.forEach( el => { %>
      <% let date = String(el.date).split(" ").filter((el, index) => index < 5).join(" ") %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <div class="todo-body">
                  <span class="todo-date"><%= date %></span>
                  <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                </div>
                <div>
                  <span class='<%= el.priority %>'>Priority: <%= el.priority %></span>
                  <span class='del'><i class="fa-solid fa-trash"></i></span>
                </div>
            </li>
    <% }) %>
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Tasks Here" name='todoItem'>
        <select name="priority">
          <option value="" disabled selected>Choose Priority</option>
          <option value="low">
            Low
          </option>
          <option value="medium">
            Medium
          </option>
          <option value="high">
            High
          </option>
        </select>
        <input type="submit">
    </form>
    <div class="logout">
      <a href="/logout">Logout</a>
    </div>

    <script src="js/main.js"></script>
</body>
</html>
